# CSRF Secret
SECRET_KEY = '{{ app_secret_key }}'

# Twitter API Keys
TWITTER_CONSUMER_KEY = '{{ app_twitter_consumer_key }}'
TWITTER_CONSUMER_SECRET = '{{ app_twitter_consumer_secret }}'
TWITTER_ACCESS_TOKEN_KEY = '{{ app_twitter_access_token_key }}'
TWITTER_ACCESS_TOKEN_SECRET = '{{ app_twitter_access_token_secret }}'
